header{
  position: absolute;
  color: white;
}
#top{
    display: inline;
    width: 100%;
    background-color: red;
}
.topnav {
    background-color: lightblue;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: grey;
  }

  @media only screen and (max-width: 490px) {
    header{
      font-size: 10px;
      position: static;
      color: black;
    }
  }

  #about_me{
    text-align: center;
    font-size: 1.5em;
  }

  #Goals_list{
    text-align: center;
    font-size: 1.5em;
  }

  #Goals_list ul{
    list-style-position: inside;
  }

  #Programming_languages{
    text-align: center;
    list-style-position: inside;
    font-size: 1.5em;
  }
  #programming_languages_list ul{
    display: flex;
    justify-content: space-evenly;
  }

  .contact_section{
    text-align: center;
    gap: 20px;
    display: block;
  }
  #contact a{
    margin: 20px;
  }
